
.icon-mail:before { content: '\e800'; } /* '' */
.icon-phone:before { content: '\e801'; } /* '' */
.icon-home:before { content: '\e802'; } /* '' */
.icon-skype:before { content: '\e803'; } /* '' */
.icon-cog:before { content: '\e804'; } /* '' */
.icon-pencil:before { content: '\e805'; } /* '' */
.icon-bag:before { content: '\e806'; } /* '' */
.icon-language:before { content: '\e807'; } /* '' */
.icon-emo-happy:before { content: '\e808'; } /* '' */
.icon-emo-wink2:before { content: '\e813'; } /* '' */
.icon-github:before { content: '\f055'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */