
.icon-mail:before { content: '\e800'; } /* '' */
.icon-phone:before { content: '\e801'; } /* '' */
.icon-home:before { content: '\e802'; } /* '' */
.icon-skype:before { content: '\e803'; } /* '' */
.icon-cog:before { content: '\e804'; } /* '' */
.icon-pencil:before { content: '\e805'; } /* '' */
.icon-bag:before { content: '\e806'; } /* '' */
.icon-github:before { content: '\f055'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */